.message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent-600);
    z-index: -1;
    animation: message-animation 1.5s ease-in-out infinite;

    border-radius: inherit;
}

@keyframes message-animation {
    from {
        transform: scale(1);
        opacity: 0.8;
    }

    to {
        transform: scale(1.1);
        opacity: 0;
    }
}