@import "tailwindcss";

@theme {
    --color-background: #f9dbbd;
    --color-accent-400: #ffa5ab;
    --color-accent-500: #da627d;
    --color-accent-600: #a53860;
    --color-contrast: #450920;
}

@layer base {

    html,
    body {
        width: 100%;
        min-height: 100dvh;

    }

    body {
        background-color: var(--color-background);
        color: var(--color-contrast);
        padding: 1rem;
        font-family: 'Pacifico', cursive;
    }
}